/*.asv
/externals
/install/pathdef.m
/install/javaclasspath.txt
/products/+elltool/+logging/Logs
/products/+elltool/+conf/confrepo
/products/+elltool/+test/+configuration/confrepo
/products/+gras/+ellapx/+uncertcalc/+log/Logs
/console.log
/automation/cron
/automation/log
/lib/+modgen/+configuration/+test/@ConfigurationRMTest/confrepo/
/products/+elltool/+test/+logging/Logs/
/ell_*.bat
/matlinq_*.bat
/products/+gras/+ellapx/+uncertcalc/+conf/+sysdef/+test/confrepo/_default/test2.xml
/products/+gras/+ellapx/+uncertcalc/+test/+regr/+conf/+sysdef/confrepo/*
!/products/+gras/+ellapx/+uncertcalc/+test/+regr/+conf/+sysdef/confrepo/_templates
/products/+gras/+ellapx/+uncertcalc/+test/+regr/+conf/confrepo/*
!/products/+gras/+ellapx/+uncertcalc/+test/+regr/+conf/confrepo/_templates
/products/+gras/+ellapx/+uncertmixcalc/_Results
/products/+gras/+ellapx/+uncertmixcalc/+test/+conf/confrepo/*
!/products/+gras/+ellapx/+uncertmixcalc/+test/+conf/confrepo/_templates
/products/+gras/+ellapx/+uncertmixcalc/+test/+conf/+sysdef/confrepo/*
!/products/+gras/+ellapx/+uncertmixcalc/+test/+conf/+sysdef/confrepo/_templates
/products/+gras/+ellapx/+uncertcalc/+test/+comp/+conf/confrepo/*
!/products/+gras/+ellapx/+uncertcalc/+test/+comp/+conf/confrepo/_templates
/products/+gras/+ellapx/+uncertcalc/+test/+comp/+conf/+sysdef/confrepo/*
!/products/+gras/+ellapx/+uncertcalc/+test/+comp/+conf/+sysdef/confrepo/_templates







