<?xml version="1.0"?>
<root version="18" xml_tb_version="2.0" type="struct" >
<valueObj type="struct" >
	<genericProps type="struct" >
		<calcTimeLimVec type="double" >2.414735078559716e-15 3</calcTimeLimVec>
		<calcPrecision type="double" >1e-07</calcPrecision>
		<isSplineForMatrixCalcUsed type="boolean" >1</isSplineForMatrixCalcUsed>
	</genericProps>
	<projectionProps type="struct" >
		<projSpaceSetName type="char" >set1</projSpaceSetName>
		<projSpaceSets type="struct" >
			<set1 type="cell" >
				<item type="double" >1 1 0 0 0 0</item>
			</set1>
		</projSpaceSets>
		<isDynamicProjEnabled type="boolean" >0</isDynamicProjEnabled>
		<isStaticProjEnabled type="boolean" >1</isStaticProjEnabled>
	</projectionProps>
	<goodDirSelection type="struct" >
		<methodName type="char" >manual</methodName>
		<methodProps type="struct" >
			<manual type="struct" >
				<lsGoodDirSetName type="char" >set1</lsGoodDirSetName>
				<lsGoodDirSets type="struct" >
					<set1 type="cell" size="10 1">
						<item type="double" >-1.148194122196558 1.513727335575111 -1.18745409925716 0.9177206398795444 -1.788381560111082 1.123474864599097</item>
						<item type="double" >-0.3096833207291043 -1.545744957652564 -0.006481222892606019 -0.5181496359235088 -0.556967916703334 -0.5121270650835474</item>
						<item type="double" >0.6872653763379973 -0.7904747075990508 0.1350648135132939 0.9328728138697071 0.7906531242594196 0.3297959754543346</item>
						<item type="double" >0.4119255710360618 -0.1967163713380142 -0.8575374507472827 0.4599991669595793 -0.7795730363779314 -0.2734168079986471</item>
						<item type="double" >0.7375436986817555 -2.217843741762702 0.104424929560947 -1.28129528441566 1.202591679248591 0.7827143776030185</item>
						<item type="double" >-0.7413824349407532 -0.7875816289569175 0.3005274316301868 -1.444688161227439 -0.01748636456093306 -1.494630872757215</item>
						<item type="double" >-0.8022470687614941 0.213829880697638 -0.4666606552847565 -0.7402563485531435 1.091328186253497 1.293868568549887</item>
						<item type="double" >-1.528828893699034 0.6478437199208608 0.09344559028693275 0.9110871131399593 -1.652765954208836 1.378549634106579</item>
						<item type="double" >-0.4169152479286088 -0.1288957298402644 -0.9448640179889671 -1.043292508273151 -0.4978404752524197 -0.2699890582849399</item>
						<item type="double" >-0.3863115203078466 -0.01873760446534735 1.400690626668709 -0.05693537269373738 -0.0112744262119355 0.5981591983918756</item>
					</set1>
				</lsGoodDirSets>
			</manual>
			<auto type="struct" >
				<nGoodDirs type="double" >1</nGoodDirs>
				<goodDirSpaceVec type="boolean" >1 1</goodDirSpaceVec>
			</auto>
		</methodProps>
		<selectionTime type="double" >2.414735078559716e-15</selectionTime>
	</goodDirSelection>
	<customResultDir type="struct" >
		<isEnabled type="boolean" >0</isEnabled>
		<dirName type="char" >C:/SVN_Local/_GrasResults</dirName>
	</customResultDir>
	<logging type="struct" >
		<log4jSettings type="char" >
                log4j.rootLogger=INFO, stdout, A1
                #
                log4j.appender.stdout=org.apache.log4j.ConsoleAppender
                log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
                #
                log4j.appender.stdout.layout.ConversionPattern=%5p %c - %m\n
                #
                log4j.appender.A1=org.apache.log4j.DailyRollingFileAppender
                #
                #do not change - name of the main log file should have a 
                #fixed pattern so that email logger can pick it up
                log4j.appender.A1.File=${gras.ellapx.uncertmixcalc.log4j.logfile.dirwithsep}${gras.ellapx.uncertmixcalc.log4j.logfile.main.name}
                #
                log4j.appender.A1.layout=org.apache.log4j.PatternLayout
                log4j.appender.A1.layout.ConversionPattern=%d %5p %c - %m%n
            </log4jSettings>
	</logging>
	<plottingProps type="struct" >
		<isEnabled type="boolean" >0</isEnabled>
		<viewAngleVec type="double" >37.5 30</viewAngleVec>
		<isGoodCurvesSeparately type="boolean" >0</isGoodCurvesSeparately>
	</plottingProps>
	<ellipsoidalApxProps type="struct" >
		<internalApx type="struct" >
			<isEnabled type="boolean" >1</isEnabled>
			<schemas type="struct" >
				<noUncertSqrtQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
					</props>
				</noUncertSqrtQ>
				<noUncertJustQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
					</props>
				</noUncertJustQ>
				<uncertMixed type="struct" >
					<isEnabled type="boolean" >1</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >qr</selectionMethodForSMatrix>
						<mixingStrength type="double" >0.5</mixingStrength>
						<mixingProportions type="cell" size="10 1">
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
							<item type="double" >0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1</item>
						</mixingProportions>
					</props>
				</uncertMixed>
			</schemas>
			<dispScaleFactor type="double" >1</dispScaleFactor>
		</internalApx>
		<externalApx type="struct" >
			<isEnabled type="boolean" >0</isEnabled>
			<schemas type="struct" >
				<justQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
				</justQ>
			</schemas>
			<dispScaleFactor type="double" >1</dispScaleFactor>
		</externalApx>
		<extIntApx type="struct" >
			<isEnabled type="boolean" >0</isEnabled>
			<schemas type="struct" >
				<uncert type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
						<minQSqrtMatEig type="double" >0.1</minQSqrtMatEig>
					</props>
				</uncert>
			</schemas>
		</extIntApx>
	</ellipsoidalApxProps>
	<systemDefinitionConfName type="char" >springs_2</systemDefinitionConfName>
</valueObj>
<keyStr type="char" >springs_2</keyStr>
</root>
