<?xml version="1.0"?>
<root version="18" xml_tb_version="2.0" type="struct" >
<valueObj type="struct" >
	<genericProps type="struct" >
		<calcTimeLimVec type="double" >-1.679212324745549e-15 0.8</calcTimeLimVec>
		<calcPrecision type="double" >1e-07</calcPrecision>
		<isSplineForMatrixCalcUsed type="boolean" >1</isSplineForMatrixCalcUsed>
	</genericProps>
	<projectionProps type="struct" >
		<projSpaceSetName type="char" >set1</projSpaceSetName>
		<projSpaceSets type="struct" >
			<set1 type="cell" >
				<item type="double" >1 1 0 0 0 0 0 0 0 0</item>
			</set1>
		</projSpaceSets>
		<isDynamicProjEnabled type="boolean" >0</isDynamicProjEnabled>
		<isStaticProjEnabled type="boolean" >1</isStaticProjEnabled>
	</projectionProps>
	<goodDirSelection type="struct" >
		<methodName type="char" >manual</methodName>
		<methodProps type="struct" >
			<manual type="struct" >
				<lsGoodDirSetName type="char" >set1</lsGoodDirSetName>
				<lsGoodDirSets type="struct" >
					<set1 type="cell" size="4 1">
						<item type="double" >1.835757806795651 -0.07013517532572743 -1.786456532728232 0.1245089924269332 0.8408702485835055 0.4480041224280721 0.3926527824172912 0.5701902148068143 1.336607144922226 0.6159294025770927</item>
						<item type="double" >-1.895755022650784 -1.274001094938043 0.0979395796135146 -0.6692792535447141 -0.6872030399977742 0.4188218544797995 -0.6105256586175012 -0.9350816787252826 -0.6869335123051136 -0.5145854909437149</item>
						<item type="double" >-2.740704453070427 1.095952774133478 -0.6135816719318465 0.1074544346497917 0.364416999211943 -1.124363756698801 0.07642192095722848 1.243666291914221 -0.802421579367954 -1.29768702293534</item>
						<item type="double" >0.3647046046859187 -0.5930374013687073 1.066160037357461 -1.617957377012225 0.267464539557602 1.040968187394847 2.266087560145381 -0.04516034256838667 1.075249417178098 0.1212606227041534</item>
					</set1>
				</lsGoodDirSets>
			</manual>
			<auto type="struct" >
				<nGoodDirs type="double" >1</nGoodDirs>
				<goodDirSpaceVec type="boolean" >1 1</goodDirSpaceVec>
			</auto>
		</methodProps>
		<selectionTime type="double" >-1.679212324745549e-15</selectionTime>
	</goodDirSelection>
	<customResultDir type="struct" >
		<isEnabled type="boolean" >0</isEnabled>
		<dirName type="char" >C:/SVN_Local/_GrasResults</dirName>
	</customResultDir>
	<logging type="struct" >
		<log4jSettings type="char" >
                log4j.rootLogger=INFO, stdout, A1
                #
                log4j.appender.stdout=org.apache.log4j.ConsoleAppender
                log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
                #
                log4j.appender.stdout.layout.ConversionPattern=%5p %c - %m\n
                #
                log4j.appender.A1=org.apache.log4j.DailyRollingFileAppender
                #
                #do not change - name of the main log file should have a 
                #fixed pattern so that email logger can pick it up
                log4j.appender.A1.File=${gras.ellapx.uncertmixcalc.log4j.logfile.dirwithsep}${gras.ellapx.uncertmixcalc.log4j.logfile.main.name}
                #
                log4j.appender.A1.layout=org.apache.log4j.PatternLayout
                log4j.appender.A1.layout.ConversionPattern=%d %5p %c - %m%n
            </log4jSettings>
	</logging>
	<plottingProps type="struct" >
		<isEnabled type="boolean" >0</isEnabled>
		<viewAngleVec type="double" >37.5 30</viewAngleVec>
		<isGoodCurvesSeparately type="boolean" >0</isGoodCurvesSeparately>
	</plottingProps>
	<ellipsoidalApxProps type="struct" >
		<internalApx type="struct" >
			<isEnabled type="boolean" >1</isEnabled>
			<schemas type="struct" >
				<noUncertSqrtQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
					</props>
				</noUncertSqrtQ>
				<noUncertJustQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
					</props>
				</noUncertJustQ>
				<uncertMixed type="struct" >
					<isEnabled type="boolean" >1</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >qr</selectionMethodForSMatrix>
						<mixingStrength type="double" >0.9</mixingStrength>
						<mixingProportions type="cell" size="4 1">
							<item type="double" >0.25 0.25 0.25 0.25</item>
							<item type="double" >0.25 0.25 0.25 0.25</item>
							<item type="double" >0.25 0.25 0.25 0.25</item>
							<item type="double" >0.25 0.25 0.25 0.25</item>
						</mixingProportions>
					</props>
				</uncertMixed>
			</schemas>
			<dispScaleFactor type="double" >1</dispScaleFactor>
		</internalApx>
		<externalApx type="struct" >
			<isEnabled type="boolean" >0</isEnabled>
			<schemas type="struct" >
				<justQ type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
				</justQ>
			</schemas>
			<dispScaleFactor type="double" >1</dispScaleFactor>
		</externalApx>
		<extIntApx type="struct" >
			<isEnabled type="boolean" >0</isEnabled>
			<schemas type="struct" >
				<uncert type="struct" >
					<isEnabled type="boolean" >0</isEnabled>
					<props type="struct" >
						<selectionMethodForSMatrix type="char" >volume</selectionMethodForSMatrix>
						<minQSqrtMatEig type="double" >0.1</minQSqrtMatEig>
					</props>
				</uncert>
			</schemas>
		</extIntApx>
	</ellipsoidalApxProps>
	<systemDefinitionConfName type="char" >springs_3</systemDefinitionConfName>
</valueObj>
<keyStr type="char" >springs_3</keyStr>
</root>
